* {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

:root {
  /* Backgrounds */
  --list-bg-color: coral;
  --card-bg-color: beige;
  --nav-bg-color: slategrey;

  /* Text colors */
  --main-text-color: white;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

header nav {
  display: grid;
  grid-template-columns: 4fr 1fr 1fr 1fr;
  text-align: right;
  background-color: var(--nav-bg-color);
}

header nav a {
  color: var(--main-text-color);
  text-align: center;
  text-decoration: none;
  padding: 5% 3% 3% 3%;
  line-height: 2.25rem;
}

header nav a:hover {
  text-decoration: none;
  cursor: pointer;
}

header nav h1 {
  text-align: center;
  grid-column: 1/6;
}

#loadingGif {
  margin: 0 auto;
}

#logo {
  padding: 2%;
  text-align: left;
  font-family: 'Press Start 2P', cursive;
  font-size: 2rem;
}

#homepage-layout {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.list {
  display: grid;
  grid-template-columns: auto;
  background-color: var(--list-bg-color);
}

.card {
  list-style: none;
  background-color: var(--card-bg-color);
  margin: 1.5%;
}
